<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>@ViewData["Title"] - Lecture 15</title>

    <style>
        /* Uses vh and vm with calc */
        @@media screen and (min-width: 25em) {
            html {
                font-size: calc( 16px + (24 - 23) * (100vw - 400px) / (800 - 400) );
            }
        }

        /* Safari <8 and IE <11 */
        @@media screen and (min-width: 25em) {
            html {
                font-size: calc( 16px + (24 - 23) * (100vw - 400px) / (800 - 400) );
            }
        }

        @@media screen and (min-width: 50em) {
            html {
                font-size: calc( 16px + (24 - 23) * (100vw - 400px) / (800 - 400) );
            }
        }
    </style>
</head>
<body>

    @RenderBody()

    @RenderSection("Scripts", required: false)

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>.
</body>
</html>

